body {
  background: url(https://i.redd.it/p1xcgl3ze1bx.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.content {
  text-align: center;
  color: #fff;
  margin: 40px auto;
  background: rgba(22,22,22, 0.5);
  width: 100%;
  max-width: 960px;
  border-radius: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.button {
  padding-top: 60px;
}

.title {
  text-align: center;
}

#quoteDisplay{
  font-size: 125%;
}
#button-quote {
  outline: none;
  padding-top: 3px;
  text-decoration: none;
  opacity: 0.8;
  background-color: black;
  color: white;
  border: thin solid white;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  transition: 0.5s;
}

#button-quote:hover {
  background-color: white;
  color: black;
  border: thin solid black;
  opacity: 0.8;
}
